In [99]:
import numpy as np
import pandas as pd
import re
import nltk
import string
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HW\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [100]:
df = pd.read_csv(r"C:\Users\HW\Downloads\clean_nus_sms.csv\clean_nus_sms.csv")
df.head()

,Unnamed: 0,id,Message,length,country,Date
0,0,10120,Bugis oso near wat...,21,SG,2003/4
1,1,10121,"Go until jurong point, crazy.. Available only ...",111,SG,2003/4
2,2,10122,I dunno until when... Lets go learn pilates...,46,SG,2003/4
3,3,10123,Den only weekdays got special price... Haiz......,140,SG,2003/4
4,4,10124,Meet after lunch la...,22,SG,2003/4

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48598 entries, 0 to 48597
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  48598 non-null  int64
 1   id          48598 non-null  int64
 2   Message     48595 non-null  object
 3   length      48598 non-null  object
 4   country     48598 non-null  object
 5   Date        48598 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.2+ MB

In [102]:
df.isna().sum()

Unnamed: 0    0
id            0
Message       3
length        0
country       0
Date          0
dtype: int64

In [103]:
df.dropna(inplace=True)
df.isna().sum()

Unnamed: 0    0
id            0
Message       0
length        0
country       0
Date          0
dtype: int64

In [104]:
message = df[["Message"]]
message.head()

                                             Message
0                              Bugis oso near wat...
1  Go until jurong point, crazy.. Available only ...
2     I dunno until when... Lets go learn pilates...
3  Den only weekdays got special price... Haiz......
4                             Meet after lunch la...

In [105]:
def remove_punctuation(text):
    return re.sub(r'[^\w\s]', '', text)

# Convert 'Message' to lowercase and remove punctuation, using .loc[]
df.loc[:, 'processed_text'] = df['Message'].str.lower().apply(remove_punctuation)
df.head()

,Unnamed: 0,id,Message,length,country,Date,processed_text
0,0,10120,Bugis oso near wat...,21,SG,2003/4,bugis oso near wat
1,1,10121,"Go until jurong point, crazy.. Available only ...",111,SG,2003/4,go until jurong point crazy available only in ...
2,2,10122,I dunno until when... Lets go learn pilates...,46,SG,2003/4,i dunno until when lets go learn pilates
3,3,10123,Den only weekdays got special price... Haiz......,140,SG,2003/4,den only weekdays got special price haiz cant ...
4,4,10124,Meet after lunch la...,22,SG,2003/4,meet after lunch la

In [106]:
from nltk.corpus import stopwords
", ".join(stopwords.words('english'))

"i, me, my, myself, we, our, ours, ourselves, you, you're, you've, you'll, you'd, your, yours, yourself, yourselves, he, him, his, himself, she, she's, her, hers, herself, it, it's, its, itself, they, them, their, theirs, themselves, what, which, who, whom, this, that, that'll, these, those, am, is, are, was, were, be, been, being, have, has, had, having, do, does, did, doing, a, an, the, and, but, if, or, because, as, until, while, of, at, by, for, with, about, against, between, into, through, during, before, after, above, below, to, from, up, down, in, out, on, off, over, under, again, further, then, once, here, there, when, where, why, how, all, any, both, each, few, more, most, other, some, such, no, nor, not, only, own, same, so, than, too, very, s, t, can, will, just, don, don't, should, should've, now, d, ll, m, o, re, ve, y, ain, aren, aren't, couldn, couldn't, didn, didn't, doesn, doesn't, hadn, hadn't, hasn, hasn't, haven, haven't, isn, isn't, ma, mightn, mightn't, mustn, mustn't, needn, needn't, shan, shan't, shouldn, shouldn't, wasn, wasn't, weren, weren't, won, won't, wouldn, wouldn't"

In [107]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

df.loc[:, 'processed_text'] = df['processed_text'].apply(remove_stopwords)
df.head()

,Unnamed: 0,id,Message,length,country,Date,processed_text
0,0,10120,Bugis oso near wat...,21,SG,2003/4,bugis oso near wat
1,1,10121,"Go until jurong point, crazy.. Available only ...",111,SG,2003/4,go jurong point crazy available bugis n great ...
2,2,10122,I dunno until when... Lets go learn pilates...,46,SG,2003/4,dunno lets go learn pilates
3,3,10123,Den only weekdays got special price... Haiz......,140,SG,2003/4,den weekdays got special price haiz cant eat l...
4,4,10124,Meet after lunch la...,22,SG,2003/4,meet lunch la

In [108]:
df["tokenized"] = df["processed_text"].apply(nltk.word_tokenize)
df.head()

,Unnamed: 0,id,Message,length,country,Date,processed_text,tokenized
0,0,10120,Bugis oso near wat...,21,SG,2003/4,bugis oso near wat,"[bugis, oso, near, wat]"
1,1,10121,"Go until jurong point, crazy.. Available only ...",111,SG,2003/4,go jurong point crazy available bugis n great ...,"[go, jurong, point, crazy, available, bugis, n..."
2,2,10122,I dunno until when... Lets go learn pilates...,46,SG,2003/4,dunno lets go learn pilates,"[dunno, lets, go, learn, pilates]"
3,3,10123,Den only weekdays got special price... Haiz......,140,SG,2003/4,den weekdays got special price haiz cant eat l...,"[den, weekdays, got, special, price, haiz, can..."
4,4,10124,Meet after lunch la...,22,SG,2003/4,meet lunch la,"[meet, lunch, la]"

In [109]:
lemmatizer = nltk.WordNetLemmatizer()
def lemmatize_tokens(tokens):
    return [lemmatizer.lemmatize(token) for token in tokens]
df["lemmatized"] = df["tokenized"].apply(lemmatize_tokens)
print(df["lemmatized"],df["tokenized"])

0                                  [bugis, oso, near, wat]
1        [go, jurong, point, crazy, available, bugis, n...
2                          [dunno, let, go, learn, pilate]
3        [den, weekday, got, special, price, haiz, cant...
4                                        [meet, lunch, la]
                               ...
48593                                         [come, noon]
48594                                               [love]
48595                                                [cya]
48596                                              [guest]
48597                           [many, many, many, people]
Name: lemmatized, Length: 48595, dtype: object 0                                  [bugis, oso, near, wat]
1        [go, jurong, point, crazy, available, bugis, n...
2                        [dunno, lets, go, learn, pilates]
3        [den, weekdays, got, special, price, haiz, can...
4                                        [meet, lunch, la]
                               ...
48593                                         [come, noon]
48594                                               [love]
48595                                                [cya]
48596                                              [guest]
48597                           [many, many, many, people]
Name: tokenized, Length: 48595, dtype: object

In [110]:
df = df[["id","Message","length","country","processed_text","tokenized","lemmatized"]]
df.head()

,id,Message,length,country,processed_text,tokenized,lemmatized
0,10120,Bugis oso near wat...,21,SG,bugis oso near wat,"[bugis, oso, near, wat]","[bugis, oso, near, wat]"
1,10121,"Go until jurong point, crazy.. Available only ...",111,SG,go jurong point crazy available bugis n great ...,"[go, jurong, point, crazy, available, bugis, n...","[go, jurong, point, crazy, available, bugis, n..."
2,10122,I dunno until when... Lets go learn pilates...,46,SG,dunno lets go learn pilates,"[dunno, lets, go, learn, pilates]","[dunno, let, go, learn, pilate]"
3,10123,Den only weekdays got special price... Haiz......,140,SG,den weekdays got special price haiz cant eat l...,"[den, weekdays, got, special, price, haiz, can...","[den, weekday, got, special, price, haiz, cant..."
4,10124,Meet after lunch la...,22,SG,meet lunch la,"[meet, lunch, la]","[meet, lunch, la]"

In [116]:
def text_to_bow(some_text):
  bow_dictionary = {}
  for token in some_text:
    if token in bow_dictionary:
      bow_dictionary[token] += 1
    else:
      bow_dictionary[token] = 1
  return bow_dictionary

flattened_tokens = sorted([token for sublist in df['lemmatized'][:5] for token in sublist])

# Create the Bag-of-Words dictionary
BOW = text_to_bow(flattened_tokens)
print(BOW)

{'amore': 1, 'available': 1, 'buffet': 1, 'bugis': 2, 'cant': 1, 'cine': 1, 'crazy': 1, 'cut': 1, 'den': 1, 'drivin': 1, 'dunno': 1, 'e': 1, 'eat': 2, 'finish': 1, 'go': 2, 'got': 2, 'great': 1, 'haiz': 1, 'jurong': 1, 'la': 2, 'learn': 1, 'let': 1, 'liao': 1, 'lunch': 2, 'meet': 1, 'muz': 2, 'n': 1, 'nail': 1, 'near': 1, 'oso': 2, 'pilate': 1, 'point': 1, 'price': 1, 'special': 1, 'still': 1, 'wait': 1, 'wat': 4, 'weekday': 1, 'world': 1}

In [129]:
def create_features_dictionary(documents):
    features_dictionary = {}
    index = 0
    # Tokenize each document and add unique tokens to the dictionary
    for document in documents:
        tokens = nltk.word_tokenize(document)
        for token in tokens:
            if token not in features_dictionary:
                features_dictionary[token] = index
                index += 1
    return features_dictionary

# Print the feature dictionary for the first 5 documents
features_dictionary = create_features_dictionary(df['processed_text'][:5])
print(features_dictionary)

{'bugis': 0, 'oso': 1, 'near': 2, 'wat': 3, 'go': 4, 'jurong': 5, 'point': 6, 'crazy': 7, 'available': 8, 'n': 9, 'great': 10, 'world': 11, 'la': 12, 'e': 13, 'buffet': 14, 'cine': 15, 'got': 16, 'amore': 17, 'dunno': 18, 'lets': 19, 'learn': 20, 'pilates': 21, 'den': 22, 'weekdays': 23, 'special': 24, 'price': 25, 'haiz': 26, 'cant': 27, 'eat': 28, 'liao': 29, 'cut': 30, 'nails': 31, 'muz': 32, 'wait': 33, 'finish': 34, 'drivin': 35, 'lunch': 36, 'still': 37, 'meet': 38}

In [135]:
def text_to_bow_vector(some_text, features_dictionary):
    bow_vector = [0] * len(features_dictionary)
    tokens = nltk.word_tokenize(some_text)
    for token in tokens:
        if token in features_dictionary:  # Check if token is in dictionary
            feature_index = features_dictionary[token]
            bow_vector[feature_index] += 1
    return bow_vector
first_document = df['processed_text'][0]
bow_vector = text_to_bow_vector(first_document, features_dictionary)
print(bow_vector)

[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [140]:
from collections import Counter
from nltk.util import ngrams

def count_words(tokenized_texts):
    """Count word occurrences in a list of tokenized texts."""
    all_tokens = [token for tokens in tokenized_texts for token in tokens]
    return Counter(all_tokens)

# Count occurrences of words
word_counter = count_words(df['tokenized'])

# Print the three most common words
print("Three most frequent words and the number of occurrences according to Bag-of-Words:")
print(word_counter.most_common(3))

Three most frequent words and the number of occurrences according to Bag-of-Words:
[('u', 9839), ('haha', 6514), ('go', 3305)]